In [2]:
import numpy as np
import pandas as pd

try:
    import matplotlib.pyplot as plt
except: 
    %pip install matplotlib.pyplot
    import matplotlib.pyplot as plt

try:
    import seaborn as sns
except: 
    %pip install seaborn
    import seaborn as sns

try:
    import plotly.express as px
except: 
    %pip install plotly.express
    import plotly.express as px

try:
    from IPython.display import display, Latex, Markdown
except: 
    %pip install display
    %pip install Latex
    %pip install Markdown
    from IPython.display import display, Latex, Markdown

try:
    import ipywidgets as widgets
except: 
    %pip install ipywidgets
    import ipywidgets as widgets

try:
    import geopandas
except: 
    %pip install geopandas
    import geopandas

try: 
    from ipywidgets import interact, interactive, fixed, interact_manual
except:
    %pip install ipywidgets, interact, interactive, fixed, interact_manual
    from ipywidgets import interact, interactive, fixed, interact_manual

from ipywidgets import interact, interactive, fixed, interact_manual
%matplotlib inline


try:
    import geopy
except: 
    %pip install geopy
    import geopy

try:
    import pycountry
except: 
    %pip install pycountry
    import pycountry

try:
    import re
except:
    %pip install re
    import re

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.
Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ------------------- -------------------- 3.1/6.3 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 17.0 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
stockData = pd.read_json("all_stock_exchanges_complete.json").copy()
stockData.head()
exchangeCoordinatesData = pd.read_json("stock_exchanges_coordinates.json").copy()
exchangeCoordinatesData.head()

           Exchange Name         Country    Code    Latitude    Longitude
0                 US OTC   United States     OTC  38.9072° N   77.0369° W
1  Bombay Stock Exchange           India     BOM  18.9291° N   72.9959° E
2   Tokyo Stock Exchange           Japan     TYO  35.6824° N  139.7713° E
3    Nasdaq Stock Market   United States  NASDAQ  40.7570° N   73.9819° W
4  London Stock Exchange  United Kingdom     LON  51.5145° N    0.0922° W

In [23]:
mergedStockExchangeData = stockData.merge(exchangeCoordinatesData, on="Exchange Name")
mergedStockExchangeData.head()

,Exchange Name,Country_x,Code_x,Currency,Number of Stocks,Country_y,Code_y,Latitude,Longitude
0,US OTC,United States,OTC,USD,7582,United States,OTC,38.9072° N,77.0369° W
1,Bombay Stock Exchange,India,BOM,INR,4253,India,BOM,18.9291° N,72.9959° E
2,Tokyo Stock Exchange,Japan,TYO,JPY,3894,Japan,TYO,35.6824° N,139.7713° E
3,Nasdaq Stock Market,United States,NASDAQ,USD,3316,United States,NASDAQ,40.7570° N,73.9819° W
4,London Stock Exchange,United Kingdom,LON,GBP,3298,United Kingdom,LON,51.5145° N,0.0922° W